body {
  font-family: monospace;
  background-color: #4682b4;
}

.container {
  background-color: #7a7f80;
  max-width: 600px;
  justify-content: center;
}

.title {
  text-align: center;
  color: white;
}

li {
  color: white;
}

.add-task {
  text-align: center;
}

.taskList {
  text-align: center;
}

#addTaskBtn {
  font-family: monospace;
  background-color:#4682b4;
  color: white;
}

#addTaskBtn:hover {
  background-color: black;
} 